[flake8]
# Recommend matching the black line length (default 88),
# rather than using the flake8 default of 79:
max-line-length = 88
# Specify a list of codes to add to the list of ignored ones
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
# Also print output to stdout if output-file has been configured
tee = True
# Count the number of occurrences of each error/warning code and print a report
statistics = True
# Print the total number of errors
count = True
# Print the source code generating the error/warning in question
show-source = True
# Provide a comma-separated list of glob patterns to add to the list of excluded ones
extend-exclude =
    docs/,
    venv/,
